.main{
    background-image: url(../images/socials/3b6712d6-8676-4f6b-8f63-92b46ca2c2a1\ 1\(1\).png);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    }